/* shared styled */
.btn-primary {
    border-radius: 8px;
    background-color: #ff900e;
    padding: 20px 25px;
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.text-color {
    color: rgb(114, 114, 114);
   text-align: center;


}

.section-title {
    font-weight: 800;
    font-size: 2.8rem;
    color: rgb(46, 44, 44);
    text-align: center;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: darkslategray;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-pro-pic {
    width: 100%;
}

/* team sstyles */
.team-container {
    display: flex;
    align-items: center;

}

.team-pic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 20px;
    padding-right: 20px;

}

.team-content .list {
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.team-content .our {
    font-weight: 700;

}

.team-content .team-feature {
    color: #ff900e;
}

/* feature styles */
.feature-container {
    display: flex;
    align-items: center;

    gap: 40px;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* facts styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stat {
    font-size: 2.8re;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.sponsor-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.sponsor-image-container img {
    width: 165px;

}

/* responsive styles */
@media screen and (max-width:576px) {

    header,
    .facts-card-container {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsor-image-container {
        flex-direction: column;

    }

    .sponsor-image-container {
        /* width: 165px; */
    }

    .team-pic-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .facts-card-container {
        gap: 10px;
    }

}

/* medium devices responsive */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .team-container,
    .facts-card-container {
        flex-direction: column;
    }

    header,
    .facts-card-container {
        padding: 40px;
    }

    .facts-card-container {
        gap: 10px;
    }



}